<!--The content below is only a placeholder and can be replaced.-->
  <!--Navigator-->
  <div id="nav">UIC 3D LAB</div>
  <!--Navigator End-->

  <!--Main-->
  <hr style="margin-top: 5px; margin-bottom: 10px;">
  <div class="row" style="height: 410px;">
      <!--Left Block-->
      <div class="col-xs-1">
      </div>
      <!--Left Block End-->

      <!--Main Block-->
      <div class="col-xs-10">
        <div id="mainblock">
          <div class="title" style="padding-top: 150px;">年轻人要知道</div>
          <div class="title">这是个看脸的世界</div>
          
        </div>
      </div>
      <!--Main Block End-->

      <!--Right Block-->
      <div class="col-xs-1">
      </div>
      <!--Right Block End-->

  </div>
  <!--Main End-->

  <!--Slide Left Tips-->
  <h3 style="text-align: center; margin-top: 0px; padding-top: 0px;">不要左滑</h3>
  <!--Slide Left Tips End-->
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <!--Footer-->
  <div id="footer">
    <!--Left Block-->
      <div class="col-xs-1">
      </div>
      <!--Left Block End-->

      <!--Main Block-->
      <div class="col-xs-10">
          <p style="text-align: center;">Copyright © 2017 colleenkuang. All rights reserved</p>
          <p style="text-align: center;">粤ICP备15011948号-2</p>
          
      </div>
      <!--Main Block End-->

      <!--Right Block-->
      <div class="col-xs-1">
      </div>
      <!--Right Block End-->
  </div>

